---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const mainKeyword = "Soy Sauce - SEO Reference Guide";
---

<Layout title="Soy Sauce - SEO reference guide for software developers.">
  <main>
    <h1>
      <span class="text-gradient">Soy Sauce</span><br />
      SEO Reference Guide
    </h1>

    <section>
      <h2>Headers</h2>
      <h3>Why to use them</h3>
      <p>
        Headers make it easier for your websites users to read and understand your content. They
        also help search engines do the same thing! Search engines use headers to understand what
        kind of content your website has and index it. When people search for something and it
        matches the content in your headers, it makes it more likely that your website will be
        listed in search results!
      </p>
      <h3>How to use them</h3>
      <h4>H1</h4>
      <p>
        Each page on your website should have one H1 tag, that includes a main keyword and clearly
        states the page's main topic. Your H1 header should contain words that users might search
        for when trying to find your site. Because this site is an SEO reference guide, and it is
        called Soy Sauce, our H1 header says '<b>{mainKeyword}</b>'.
      </p>
      <h4>H2</h4>
      <p>
        Use H2 headers for major sections. On this page, 'Headers' is a major section, so it uses an
        H2 header. .
      </p>
      <h4>H3 -&gt; H6</h4>
      <p>
        Use H3 thru H6 headers for subsections within your major sections. The header for this
        section 'H3 -&gt; H6' is an example of using an H4 header to denote a sub-section within a
        section
      </p>
    </section>

    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(255, 245, 224);
    font-size: 20px;
    line-height: 1.6;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250%;
    background-position: 0%;
  }
  .headers {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }
  .headers code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
